<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - munkahelyausztria.hu</title>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" type="text/css">
	<link href="~/Content/Style.css" rel="stylesheet" type="text/css">
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
	<script src="~/Scripts/modernizr-2.6.2.js"></script>


	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.dropotron.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-layers.min.js"></script>
	<script src="js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
	</noscript>

</head>
<body class="homepage">

    <div>
        @RenderBody()
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        AOS.init();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>