
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

<a class="btn btn-default" style="margin-bottom: 10px"><b><i class="glyphicon glyphicon-plus"></i></b> Add new</a>
<table id="linkTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Sequence</th>
            <th>Title</th>
            <th>Url</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>


<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {


            var table = $('#linkTable').DataTable({
                "ajax": {
                    "url": "api/links",
                    "type": "GET",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "Id", "visible": false },
                    { "data": "Sequence" },
                    { "data": "Title" },
                    { "data": "Url" },
                    { "defaultContent": "<button id='remove' class='btn btn-default'><i class='glyphicon glyphicon-trash'></i></button> <button id='edit' class='btn btn-default'><i class='glyphicon glyphicon-pencil'></i></button>"}
                ]
            });

            $('#linkTable tbody').on('click', 'button', function () {

                var data = table.row($(this).parents('tr')).data();
                if (this.id == "edit") {
                    console.log("E");                
                } else if (this.id == "remove") {
                    console.log(data.Id);                
                    $.ajax({
                        url: 'api/links/' + data.Id,
                        type: 'DELETE',                        
                        success: function (result) {
                            // Do something with the result
                        }
                    });
                }
            });
        });
    </script>
}
