
@{
    ViewBag.Title = "BlogAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckfinder/ckfinder.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<div class="container">
    <div class="row">
        <h2>BlogAdmin</h2>
        <b><i class="fa fa-sign-out" id="logout" style="cursor: pointer;"></i></b>
    </div>
</div>


<button href="~/Create" class="btn btn-primary" style="margin-bottom: 10px;" id="addNewBtn"><b><i class="fa fa-plus"></i></b> Új Blog</button>
<table id="blogTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

<!-- Edit Modal -->
<div class="modal fade" id="editBlogModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%;">
            <div class="modal-header">
                <div class="container">
                    <div class="row">
                        <span><b>Edit Blog</b></span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <input type="hidden" id="id" />
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="editTitle">Title</label>
                        <input type="text" class="form-control" id="editTitle" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="editAuthor">Author</label>
                        <input type="text" class="form-control" id="editAuthor" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="editActive">Active</label>
                        <input type="text" class="form-control" id="editActive" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="editContent">Content</label>
                        <input type="text" class="form-control" id="editContent" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="Content">Content</label>
                        <textarea id="Content" class="ckeditor"></textarea>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="editBlog">Save</button>
                        <button type="button" class="btn btn-primary" id="add">add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


@section scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

    <script>

        $(document).ready(function () {


            var table = $('#blogTable').DataTable({
                "ajax": {
                    "url": "api/blogadmin",
                    "type": "GET",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "Id", "visible": false },
                    { "data": "Title" },
                    { "defaultContent": "<button id='remove' class='btn btn-primary'><i class='fa fa-trash'></i></button> <button id='edit' class='btn btn-primary'><i class='fa fa-pencil'></i></button>" }
                ]
            });

            $('#editBlog').click(function () {


                var editedBlog = {
                    Id: $('#id').val(),
                    Title: $('#editTitle').val(),
                    Author: $('#editAuthor').val(),
                    Content: $('#editContent').val(),
                    Active: $('#editActive').val(),

                };





                $.ajax({
                    url: 'api/blogadmin/' + editedBlog.Id,
                    type: 'PUT',
                    data: editedBlog,
                    success: function (result) {
                        $('#editBlogModal').modal('toggle');
                        table.ajax.reload();
                    }
                });
            });

            

            $('#blogTable tbody').on('click', 'button', function () {

                var data = table.row($(this).parents('tr')).data();
                console.log(data.Id);

                if (this.id == "edit") {
                    $('#id').val(data.Id);
                    $('#editTitle').val(data.Title);
                    $('#editAuthor').val(data.Author);
                    $('#editActive').val(data.Active);

                    var x = data.Content
                    console.log(x);
                    x.replace('\"\"', '\'\'');
                    $('#editContent').val(x);

                    $('#editBlogModal').modal('show');
                    $(function () {
                        console.log(x);
                        $("textarea#Content").val(x);
                    });
                } else if (this.id == "remove") {
                    $.ajax({
                        url: 'api/blogadmin/' + data.Id,
                        type: 'DELETE',
                        success: function (result) {
                            table.ajax.reload();
                        }
                    });
                }
            });



        });
    </script>

    <script type="text/javascript">


        $('#add').click(function () {

            var x = document.getElementById("editContent").value;
            console.log(x);
            x.replace('\"\"', '\'\'');
            console.log('before');
          
            console.log(x);
            $("Content").html(x);



        });

    </script>
}

