<!DOCTYPE html>
<html lang="en">
<head>

	<title>Munkavállalás Ausztriában lépésről lépésre</title>
	<!--

	Template 2106 Soft Landing

	http://www.tooplate.com/view/2106-soft-landing

	-->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="team" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- MAIN CSS -->
	<link rel="stylesheet" href="css/tooplate-style.css">

</head>
<body>

	<!-- PRE LOADER -->
	<section class="preloader">
		<div class="spinner">

			<span class="spinner-rotate"></span>

		</div>
	</section>


	<!-- MENU -->
	<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>

				<!-- lOGO TEXT HERE -->
				<a href="index.html" class="navbar-brand">ausztriamunka.hu</a>
			</div>

			<!-- MENU LINKS -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a id="bookLink" href="#book" class="smoothScroll">A könyv</a></li>
					<li><a href="#scope" class="smoothScroll">Tartalom</a></li>
					<li><a href="#help" class="smoothScroll">A könyv segít, mert...</a></li>
					<li><a id="orderBookLink" href="#order" class="smoothScroll">Megveszem</a></li>
					<li><a href="~/Linkgyujtemeny" target="_blank" class="smoothScroll">Linkgyűjtemény</a></li>
				</ul>
			</div>

		</div>
	</section>


	<!-- FEATURE -->
	<section id="home" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">

				<div class="col-md-offset-3 col-md-6 col-sm-12">
					<div class="home-info">
						<h4>Munkavállalás Ausztriában lépésről lépésre!</h4>
						<h1>Ne várj!</h1>
						<h4>Tudj meg mindent az osztrák munkavállalásról!</h4>
						<h6>Ez a könyv az összes kérdésedet megválaszolja!</h6>
						<div class="text-center col-sm-12">
							<button id="bookBtn" class="form-control bookBtn">ÉRDEKEL</button>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>


	<!-- FEATURE -->
	<section id="book" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-sm-6">

					<div class="section-title">
						<h1>A könyvről</h1>
					</div>

					<div class="tab-pane-item">
						<p>Szinte nincs olyan ember Magyarországon, akinek egy rokona, barátja, ismerőse ne döntött volna úgy, hogy tőlünk nyugatabbra próbálja meg felépíteni, vagy legalább megalapozni az életét.</p>
					</div>
					<div class="tab-pane-item">
						<p>Látva a pozitív kimenetelű sztorikat, érthető módon nagy a kísértés, hogy erre az útra lépj. A cél pedig sokszor Ausztria, mert jók a körülmények, sok a lehetőség, és gyakran haza lehet látogatni a családhoz, barátokhoz. Legalábbis ez terjeng a köztudatban.</p>
					</div>
					<div class="tab-pane-item">
						<p>Amikor azonban nekilátsz a megvalósításnak, rájössz, hogy azért ez nem olyan egyszerű.</p>
					</div>

				</div>

				<div class="col-md-6 col-sm-6">
					<div class="feature-image">
						<img style="width: 80%;" class="info-icon" src="images/feature-mockup.png" class="img-responsive" alt="Thin Laptop">
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- SCOPE -->
	<section id="scope" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row text-xl-center" style="text-align: center;">
				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<h1>Tartalomjegyzék</h1>
					</div>
				</div>
			</div>

			<div class="row text-center">
				<div class="col-md-3 col-sm-3">
					<div class="pricing-info">
						<h5 class="scope-number"><b>1</b></h5>
						<p>Munkaszerződés</p>
					</div>
				</div>

				<div class="col-md-2 col-sm-2">
					<div class="pricing-info">
						<h5 class="scope-number"><b>2</b></h5>
						<p>Adóvisszatérítés</p>
					</div>
				</div>

				<div class="col-md-2 col-sm-2">
					<div class="pricing-info">
						<h5 class="scope-number"><b>3</b></h5>
						<p>Munkaügyi kamara</p>
					</div>
				</div>

				<div class="col-md-2 col-sm-2">
					<div class="pricing-info">
						<h5 class="scope-number"><b>4</b></h5>
						<p>Mi mennyibe kerül?</p>
					</div>
				</div>

				<div class="col-md-3 col-sm-3">
					<div class="pricing-info">
						<h5 class="scope-number"><b>5</b></h5>
						<p>Lakhatási lehetőségek</p>
					</div>
				</div>
			</div>

			<div class="row text-center">

				<div class="col-md-3 col-sm-3">
					<div class="pricing-info">
						<h5 class="scope-number"><b>6</b></h5>
						<p>Munkanélküli segély</p>
					</div>
				</div>

				<div class="col-md-2 col-sm-2">
					<div class="pricing-info">
						<h5 class="scope-number"><b>7</b></h5>
						<p>Lakcímre való bejelentkezés</p>
					</div>
				</div>

				<div class="col-md-2 col-sm-2">
					<div class="pricing-info">
						<h5 class="scope-number"><b>8</b></h5>
						<p>Autó: magyar, vagy osztrák?</p>
					</div>
				</div>

				<div class="col-md-2 col-sm-2">
					<div class="pricing-info">
						<h5 class="scope-number"><b>9</b></h5>
						<p>Orvoshoz kell mennem, mit tegyek?</p>
					</div>
				</div>

				<div class="col-md-3 col-sm-3">
					<div class="pricing-info">
						<h5 class="scope-number"><b>10</b></h5>
						<p>Hol érdemes Ausztrián belül dolgozni?</p>
					</div>
				</div>
			</div>

			<div class="row text-center">

				<div class="col-md-3 col-sm-3">
					<div class="pricing-info">
						<h5 class="scope-number"><b>11</b></h5>
						<p>Bankszámlanyitás, számlák befizetése, erkölcsi bizonyítvány</p>
					</div>
				</div>

				<div class="col-md-2 col-sm-2">
					<div class="pricing-info">
						<h5 class="scope-number"><b>12</b></h5>
						<p>Munkakeresés, Állásinterjú</p>
					</div>
				</div>

				<div class="col-md-2 col-sm-2">
					<div class="pricing-info">
						<h5 class="scope-number"><b>13</b></h5>
						<p>Megéri Ausztriában dolgozni?</p>
					</div>
				</div>

				<div class="col-md-2 col-sm-2">
					<div class="pricing-info">
						<h5 class="scope-number"><b>14</b></h5>
						<p>Ha sikerült munkába állnom, miket kell elintéznem Magyarországon?</p>
					</div>
				</div>

				<div class="col-md-3 col-sm-3">
					<div class="pricing-info">
						<h5 class="scope-number"><b>15</b></h5>
						<p>Kell-e hozzá német nyelvtudás?</p>
					</div>
				</div>

			</div>

		</div>
	</section>

	<!-- FEATURE -->
	<section id="book" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-sm-6">
					<div class="feature-image">
						<img style="width: 90%;" class="info-icon" src="images/authors.png" class="img-responsive" alt="Thin Laptop">
					</div>
				</div>

				<div class="col-md-6 col-sm-6">

					<div class="tab-pane-item">
						<p>
							Nyilván nem szeretnél mindent feladni egy bizonytalan jövő reményében – de hogyan mehetsz biztosra?
							Honnan tudhatod, hogy ha elindulsz, nem fordulsz csalódottan vissza néhány hét után?
							Tényleg megéri kimenni Ausztriába?
							Mennyire kell tudni a nyelvet?
							Hogyan lehet kint munkát találni?
						</p>
						<p>
							Ez a könyv azért született meg, hogy akik hozzánk hasonlóan az indulás mellett döntenek, könnyebben boldoguljanak, mint mi annak idején. Tudják, mit kell tenniük annak érdekében, hogy biztosabb legyen a siker.
						</p>
						<p>
							Elmondjuk, mi az, amit feltétlenül el kell intézni indulás előtt, illetve rögtön érkezés után, milyen buktatókkal, nehézségekkel kell számolni, illetve mit tehetsz azért, hogy ezeket elkerüld.
						</p>

						<br />
						<h4>Összeszedtünk mindent, amit az osztrák munkavállalásról tudni kell, hogy másoknak könnyebb legyen, mint anno nekünk.</h4>
						<br />

						<button class="form-control order-book">Megrendelem a könyvet</button>
					</div>

				</div>


			</div>
		</div>
	</section>

	<!-- ABOUT -->
	<section id="help" data-stellar-background-ratio="0.5" style="text-align: center;">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<h1>A könyv segít, mert…</h1>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-4 col-sm-4">
					<div class="team-thumb" style="height: 306px;">
						<img src="images/team-image1.png" class="img-responsive info-icon" alt="Andrew Orange" style="width: 40%;">
						<div class="team-info team-thumb-up">
							<p style="text-align: center;">Megbízható forrásból kapsz gyors, pontos információkat.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="team-thumb" style="height: 306px;">
						<img src="images/team-image3.png" class="img-responsive info-icon" alt="Jack Wilson" style="width: 40%;">
						<div class="team-info team-thumb-up">
							<p style="text-align: center; padding-bottom: 24px;">El tudod dönteni, hogy Ausztria neked való-e.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="team-thumb" style="height: 306px;">
						<img src="images/team-image2.png" style="width: 40%;" class="img-responsive info-icon" alt="Catherine Soft">
						<div class="team-info team-thumb-up">
							<p style="text-align: center;">Nem kell ismerőstől segítséget kérned, egyedül is meg tudsz oldani mindent.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- FEATURE -->
	<section id="book" data-stellar-background-ratio="0.5" style="text-align: center;">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<h1>Ez egy okos könyv</h1>
					</div>
				</div>

				<div class="col-md-12 col-sm-12">

					<div class="tab-pane-item">
						<p>Folyamatosan frissülő Linkgyűjteményt tartalmaz, amelyet QR-kódok segítségével néhány másodperc alatt elérhetsz. A Linkgyűjteményen keresztül könnyen és gyorsan találhatsz lakást, kereshetsz magadnak orvost, és ügyeletes patikát, megkeresheted a hozzád legközelebb eső hivatalokat.</p>
						<br />
						<h1><b>Változtass! Rendeld meg a könyvet még ma 3990 Forintért!</b></h1>
						<br />
						<p>Legyen ez az első lépés, amit megteszel Ausztria felé.</p>
						<p>A legjobb döntés, ha egy kicsit fel szeretnél készülni a nagy kalandra.</p>
						<br />
						<button class="form-control order-book">Kérem a könyvet</button>
						<br />
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="feature-image">
						<img style="width: 80%;" class="info-icon" src="images/guarantee.png" class="img-responsive" alt="Thin Laptop">
					</div>
				</div>

				<div class="col-md-8 col-sm-8">
					<div class="tab-pane-item" style="text-align: left; padding-top: 40px;">
						<h3 style="font-weight: bold;">100%-os pénzvisszafizetési garancia</h3>
						<p>Ha nem tetszik a könyv, küldd vissza 14 napon belül, és visszafizetjük az árát.</p>
					</div>
				</div>

			</div>
		</div>
	</section>



	<section id="order" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="row text-center"><h2 style="margin: auto;">Megrendelés</h2></div>
				<br />

				<div class="alert alert-danger" role="alert" id="errorMsg" style="display:none;">
					This is a danger alert—check it out!
				</div>

				<div id="first_step" style="display: none;">
					<table class="table col-sm-12">
						<thead>
							<tr>
								<th scope="col">Termék neve</th>
								<th scope="col">Mennyiség</th>
								<th scope="col">Fogyasztói ár</th>
								<th scope="col">Összesen</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Munkavállalás Ausztriában lépésről lépésre könyv</td>
								<td>
									<input class="form-control" style="width: 70px;" type="number" value="1" id="orderQty" onclick="changeQty();" onchange="changeQty();" min="1">
								</td>
								<td id="price1">3990 Ft</td>
								<td id="price2">3990 Ft</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id="second_step" style="display: none;">

					<h4 style="color: black;">Személyes adatok</h4>

					<div class="row">
						<div class="col-sm-4 form-group">
							<label for="orderSurname">Vezetéknév</label>
							<input type="text" onchange="onChangeSurname();" class="form-control" id="orderSurname" placeholder="Vezetéknév">
						</div>

						<div class="col-sm-4 form-group">
							<label for="orderFirstname">Keresztnév</label>
							<input onchange="onChangeFirstname();" type="text" class="form-control" id="orderFirstname" placeholder="Keresztnév">
						</div>

						<div class="col-sm-4 form-group">
							<label for="orderEmail">Email-cím</label>
							<input onchange="onChangeEmail();" type="email" class="form-control" id="orderEmail" placeholder="Email-cím">
						</div>

						<div class="col-sm-4 form-group">
							<label for="orderPhone">Telefonszám</label>
							<input type="tel" onchange="onChangePhone();" class="form-control" id="orderPhone" placeholder="Telefonszám">
						</div>
					</div>
					<br />

					<h4 style="color: black;">Szállítási adatok</h4>
					<div class="row">

						<div class="col-sm-4 form-group">
							<label for="transName">Név</label>
							<input type="text" class="form-control" onchange="onChangeTransName();" id="transName" placeholder="Név">
						</div>

						<div class="col-sm-4 form-group">
							<label for="transCountry">Ország</label>
							<input type="text" class="form-control" id="transCountry" onchange="onChangeTransCountry();" placeholder="Ország" value="Magyarország">
						</div>

						<div class="col-sm-4 form-group">
							<label for="transPostalCode">Irányítószám</label>
							<input type="text" class="form-control" id="transPostalCode" onchange="onChangeTransPostalCode();" placeholder="Irányítószám">
						</div>

						<div class="col-sm-4 form-group">
							<label for="transCity">Város</label>
							<input type="text" class="form-control" id="transCity" onchange="onChangeTransCity();" placeholder="Város">
						</div>

						<div class="col-sm-4 form-group">
							<label for="transAddress">Utca, Házszám</label>
							<input type="text" class="form-control" id="transAddress" onchange="onChangeTransAddress();" placeholder="Utca, Házszám">
						</div>

						<div class="col-sm-4 form-group">
							<label for="transPhone">Telefonszám (szállításhoz)</label>
							<input type="text" class="form-control" id="transPhone" onchange="onChangeTransPhone();" placeholder="Telefonszám (szállításhoz)">
						</div>

						<span class="col-sm-12">
							Amennyibe külföldre szeretnéd kérni a csomagodat, kérlek vedd fel velem a kapcsolatot az info@ausztriamunka.hu email címen.
						</span>
					</div>
					<br />

					<h4 style="color: black;">Számlázási adatok</h4>
					<div class="row">
						<div class="col-sm-4">
							Megegyezik a szállítái adatokkal
						</div>

						<div class="col-sm-4">
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="sameTransData" onclick="sameTransDataClick();">
							</div>
						</div>
					</div>
					<br />

					<div class="row">
						<div class="col-sm-4 form-group">
							<label for="invName">Név</label>
							<input type="text" class="form-control" id="invName" onchange="onChangeInvName();" placeholder="Név">
						</div>

						<div class="col-sm-4 form-group">
							<label for="invCountry">Ország</label>
							<input type="text" class="form-control" id="invCountry" onchange="onChangeInvCountry();" placeholder="Ország">
						</div>

						<div class="col-sm-4 form-group">
							<label for="invPostalCode">Irányítószám</label>
							<input type="text" class="form-control" id="invPostalCode" onchange="onChangeInvPostalCode();" placeholder="Irányítószám">
						</div>

						<div class="col-sm-4 form-group">
							<label for="invCity">Város</label>
							<input type="text" class="form-control" id="invCity" placeholder="Város" onchange="onChangeInvCity();">
						</div>

						<div class="col-sm-4 form-group">
							<label for="invAddress">Utca, Házszám</label>
							<input type="text" class="form-control" id="invAddress" placeholder="Utca, Házszám" onchange="onChangeInvAddress();">
						</div>

						<div class="col-sm-4 form-group">
							<label for="invTaxNum">Cég esetén adószám</label>
							<input type="text" class="form-control" id="invTaxNum" placeholder="Cég esetén adószám" onchange="onChangeInvTaxNum();">
						</div>

					</div>

				</div>

				<div id="third_step" style="display: none;">
					<br />
					<div class="row col-sm-12">
						<div class="col-sm-2"><span>Fizetési mód: </span></div>

						<div class="col-sm-4 form-check-inline">
							<label class="form-check-label">
								<input type="radio" class="form-check-input" onclick="transferOnClick();" name="optradio" id="transfer">Átutalás (Postaköltség: 990 Ft)
							</label>
						</div>
						<div class="col-sm-4 form-check-inline">
							<label class="form-check-label">
								<input type="radio" class="form-check-input" onclick="cashOnDeliveryOnClick();" name="optradio" id="cashOnDelivery">Utánvétel (Postaköltség: 1380 Ft)
							</label>
						</div>
					</div>

					<br />
					<div class="row col-sm-12">
						<div class="col-sm-12 form-group">
							<label for="comment">Megjegyzés:</label>
							<textarea class="col-sm-12" onchange="commentOnChange();" class="form-control" rows="4" id="comment"></textarea>
						</div>
					</div>
					<br />
					<div class="row col-sm-12 pull-right">
						<div class="col-sm-12 form-check">
							<label class="form-check-label">
								<input id="adatkezeles" type="checkbox" class="form-check-input" value="">Elolvastam és elfogadom az <a href="~/Adatkezeles" target="_blank"><u>adatvédelmi tájékoztató</u>ban</a> leírtakat.
							</label>
						</div>
					</div>

					<div class="row col-sm-12 pull-right">
						<div class="col-sm-12 form-check">
							<label class="form-check-label">
								<input id="aszf" type="checkbox" class="form-check-input" value="">Az <a href="~/Aszf" target="_blank"><u>Általános szerződési feltétel</u>eket</a> elolvastam és elfogadom.
							</label>
						</div>
					</div>

				</div>

				<div id="fourth_step" style="display: none;">
					<h5><b>Ellenőrzés</b></h5>

					<table class="table">
						<thead>
							<tr>
								<th scope="col">Termék neve</th>
								<th scope="col">Mennyiség</th>
								<th scope="col">Fogyasztói ár</th>
								<th scope="col">Összesen</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Munkavállalás Ausztriában lépésről lépésre könyv</td>
								<td id="resultQty"></td>
								<td id="resultPrice1">3990 Ft</td>
								<td id="resultPrice2">3990 Ft</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td>Szállítási költség</td>
								<td id="transPrice">0 Ft</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td>Végösszeg</td>
								<td id="sumPrice">0 Ft</td>
							</tr>

						</tbody>
					</table>

					<h5><b>Fizetési mód</b></h5>
					<div id="resultPaymentMethod"></div>
					<h5><b>Személyes adatok</b></h5>
					<div class="row">
						<div id="resultSurname" class="col-sm-1"></div>
						<div id="resultFirstname" class="col-sm-1"></div>
					</div>
					<div id="resultEmail"></div>
					<div id="resultPhone"></div>
					<h5><b>Szállítási adatok</b></h5>
					<div id="resultTransName"></div>
					<div id="resultTransPostalCode"></div>
					<div id="resultTransCity"></div>
					<div id="resultTransAddress"></div>
					<div id="resultTransCountry"></div>
					<div id="resultTransPhone"></div>
					<h5><b>Számlázási adatok</b></h5>
					<div id="resultInvName"></div>
					<div id="resultInvPostalCode"></div>
					<div id="resultInvCity"></div>
					<div id="resultInvAddress"></div>
					<div id="resultInvCountry"></div>
					<div id="resultInvPhone"></div>

					<div id="resultComment"></div>
				</div>
				<br />

				<div id="final_step" style="display: none; text-align:center;">
					<p>
						Köszönjük, sikeresen elküldted a megrendelésedet.
					</p>
					<p>
						Rendelésedről és a szállításról emailben küldjük neked az információkat.
					</p>
					<p>
						Amennyiben az email nem érkezik meg egy órán belül, kérlek jelezd azt az info@ausztriamunka.hu email címen.
					</p>
				</div>

				<div class="pull-right text-right">
					<button id="prevBtn" type="button" class="btn btn-default" style="margin: 5px; display: none;" onclick="prevStep();">Vissza</button>
					<button id="nextBtn" type="button" class="btn btn-danger" style="margin: 5px;" onclick="nextStep();">Tovább</button>

				</div>

				<br />

			</div>
		</div>
	</section>


	<!-- SCRIPTS -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/custom.js"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

	<script type="text/javascript">

		$(document).ready(function () {


			$('#prevBtn').css("display", "none");
			$('#first_step').css("display", "");
			$('#second_step').css("display", "none");
			$('#third_step').css("display", "none");
			$('#fourth_step').css("display", "none");

			$('#bookBtn').click(function () {
				$("#bookLink").trigger("click");
			});

			$('.order-book').click(function () {
				$("#orderBookLink").trigger("click");
			});


		});



		var step = 0;
		var paymentMethod;

		function changeQty() {
			var qty = $('#orderQty').val();

			$('#price1').html((qty * 3990) + ' Ft');
			$('#price2').html((qty * 3990) + ' Ft');

			$('#resultQty').html(qty + '');
			$('#resultPrice1').html((qty * 3990) + ' Ft');
			$('#resultPrice2').html((qty * 3990) + ' Ft');

		}

		function prevStep() {

			switch (step) {
				case 1:
					$('#prevBtn').css("display", "none");
					$('#first_step').css("display", "");
					$('#second_step').css("display", "none");
					$('#third_step').css("display", "none");
					$('#fourth_step').css("display", "none");
					$('#final_step').css("display", "none");
					step--;
					break;
				case 2:
					$('#prevBtn').css("display", "");
					$('#first_step').css("display", "none");
					$('#second_step').css("display", "");
					$('#third_step').css("display", "none");
					$('#fourth_step').css("display", "none");
					$('#final_step').css("display", "none");
					step--;
					break;
				case 3:
					$('#prevBtn').css("display", "");
					$('#first_step').css("display", "none");
					$('#second_step').css("display", "none");
					$('#third_step').css("display", "");
					$('#fourth_step').css("display", "none");
					$('#final_step').css("display", "none");
					step--;
					break;
				case 4:
					$('#prevBtn').css("display", "");
					$('#first_step').css("display", "none");
					$('#second_step').css("display", "none");
					$('#third_step').css("display", "none");
					$('#fourth_step').css("display", "");
					$('#final_step').css("display", "none");
					step--;
					break;
				default:
				// code block
			}
		}


		function validation() {

			switch (step) {
				case 0:

					break;
				case 1:
					if ($('#orderSurname').val().trim().length === 0) {
						$('#errorMsg').html('Személyes adatok: Vezetéknév kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#orderFirstname').val().trim().length === 0) {
						$('#errorMsg').html('Személyes adatok: Keresztnév kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#orderEmail').val().trim().length === 0) {
						$('#errorMsg').html('Személyes adatok: E-mail cím kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#orderPhone').val().trim().length === 0) {
						$('#errorMsg').html('Személyes adatok: Telefonszám kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#orderSurname').val().trim().length === 0) {
						$('#errorMsg').html('Személyes adatok: Vezetéknév kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#transName').val().trim().length === 0) {
						$('#errorMsg').html('Szállítási adatok: Név kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#transCountry').val().trim().length === 0) {
						$('#errorMsg').html('Szállítási adatok: Ország kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#transPostalCode').val().trim().length === 0) {
						$('#errorMsg').html('Szállítási adatok: Irányítószám kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#transCity').val().trim().length === 0) {
						$('#errorMsg').html('Szállítási adatok: Város kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#transAddress').val().trim().length === 0) {
						$('#errorMsg').html('Szállítási adatok: Cím kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#transPhone').val().trim().length === 0) {
						$('#errorMsg').html('Szállítási adatok: Telefonszám kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#invName').val().trim().length === 0) {
						$('#errorMsg').html('Számlázási adatok: Név kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#invCountry').val().trim().length === 0) {
						$('#errorMsg').html('Számlázási adatok: Ország kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#invPostalCode').val().trim().length === 0) {
						$('#errorMsg').html('Számlázási adatok: Irányítószám kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#invCity').val().trim().length === 0) {
						$('#errorMsg').html('Számlázási adatok: Város kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if ($('#invAddress').val().trim().length === 0) {
						$('#errorMsg').html('Számlázási adatok: Cím kitöltése kötelező!');
						$('#errorMsg').css('display', '');
						return false;
					}


					break;
				case 2:

					if (paymentMethod !== 1 && paymentMethod !== 2) {
						$('#errorMsg').html('Fizetési módot kötelező választani!');
						$('#errorMsg').css('display', '');
						return false;
					}

					if (!$('#adatkezeles').is(":checked")) {
						$('#errorMsg').html('Kérlek fogadd el az Adatvédelmi tájékoztatót!');
						$('#errorMsg').css('display', '');
						return false;

					}

					if (!$('#aszf').is(":checked")) {
						$('#errorMsg').html('Kérlek fogadd el az Általános szerződési feltételeket!');
						$('#errorMsg').css('display', '');
						return false;

					}


					break;
				case 3:
					break;
				default:
				// code block
			}

			$('#errorMsg').css('display', 'none');
			return true;

		}

		function nextStep() {

			if (!validation()) {
				return;
			}

			switch (step) {
				case 0:
					$('#prevBtn').css("display", "");
					$('#first_step').css("display", "none");
					$('#second_step').css("display", "");
					$('#third_step').css("display", "none");
					$('#fourth_step').css("display", "none");
					$('#final_step').css("display", "none");
					step++;
					break;
				case 1:
					$('#prevBtn').css("display", "");
					$('#first_step').css("display", "none");
					$('#second_step').css("display", "none");
					$('#third_step').css("display", "");
					$('#fourth_step').css("display", "none");
					$('#final_step').css("display", "none");
					step++;
					break;
				case 2:
					$('#prevBtn').css("display", "");
					$('#first_step').css("display", "none");
					$('#second_step').css("display", "none");
					$('#third_step').css("display", "none");
					$('#fourth_step').css("display", "");
					$('#final_step').css("display", "none");
					finalStep();
					step++;
					break;
				case 3:
					$('#prevBtn').css("display", "none");
					$('#first_step').css("display", "none");
					$('#second_step').css("display", "none");
					$('#third_step').css("display", "none");
					$('#fourth_step').css("display", "none");
					$('#final_step').css("display", "");
					step++;
					saveOrder();
				default:
			}
		}


		function finalStep() {

			var qty = $('#orderQty').val();

			if (paymentMethod == 1) {
				$('#transPrice').html('990 Ft');
				$('#resultPaymentMethod').html('Átutalással');
				$('#sumPrice').html(((qty * 3990) + 990) + ' Ft');
			} else {
				$('#resultPaymentMethod').html('Utánvéttel');
				$('#transPrice').html('1380 Ft');
				$('#sumPrice').html(((qty * 3990) + 1380) + ' Ft');
			}


			$("#resultInvName").html($('#invName').val());
			$("#resultInvPhone").html($('#invPhone').val());
			$("#resultInvCity").html($('#invCity').val());
			$("#resultInvCountry").html($('#invCountry').val());
			$("#resultInvAddress").html($('#invAddress').val());
			$("#resultInvTaxNum").html($('#invTaxNum').val());


		}


		function transferOnClick() {
			paymentMethod = 1;
			console.log(paymentMethod);
		}

		function cashOnDeliveryOnClick() {
			paymentMethod = 2;
			console.log(paymentMethod);
		}

		function commentOnChange() {
			$("#resultComment").html($('#comment').val());
		}

		function onChangeSurname() {
			$("#resultSurname").html($('#orderSurname').val());
		}

		function onChangeFirstname() {
			$("#resultFirstname").html($('#orderFirstname').val());
		}

		function onChangeEmail() {
			$("#resultEmail").html('Email-cím: ' + $('#orderEmail').val());
		}

		function onChangePhone() {
			$("#resultPhone").html('Telefonszám: ' + $('#orderPhone').val());
		}


		function onChangeTransName() {
			$("#resultTransName").html($('#transName').val());
		}

		function onChangeTransCountry() {
			$("#resultTransCountry").html($('#transCountry').val());
		}

		function onChangeTransPostalCode() {
			$("#resultTransPostalCode").html($('#transPostalCode').val());
		}

		function onChangeTransAddress() {
			$("#resultTransAddress").html($('#transAddress').val());
		}

		function onChangeTransCity() {
			$("#resultTransCity").html($('#transCity').val());
		}

		function onChangeTransPhone() {
			$("#resultTransPhone").html($('#transPhone').val());
		}


		function sameTransDataClick() {

			$('#invName').val($('#transName').val());
			$('#invCountry').val($('#transCountry').val());
			$('#invPostalCode').val($('#transPostalCode').val());
			$('#invCity').val($('#transCity').val());
			$('#invAddress').val($('#transAddress').val());


		}

		function saveOrder() {

			console.log(paymentMethod);
			var newOrder = {
				Id: 'null',
				Qty: $('#orderQty').val(),
				Price: $('#price1').html(),
				OrdFirstname: $('#orderFirstname').val(),
				OrdSurname: $('#orderSurname').val(),
				OrdEmail: $('#orderEmail').val(),
				OrdPhone: $('#orderPhone').val(),
				TransName: $('#transName').val(),
				TransCountry: $('#transCountry').val(),
				TransPostalCode: $('#transPostalCode').val(),
				TransCity: $('#transCity').val(),
				TransAddress: $('#transAddress').val(),
				TransPhone: $('#transPhone').val(),
				InvName: $('#invName').val(),
				InvCountry: $('#invCountry').val(),
				InvPostalCode: $('#invPostalCode').val(),
				InvCity: $('#invCity').val(),
				InvAddress: $('#invAddress').val(),
				InvPhone: $('#invPhone').val(),
				InvTaxNum: $('#invTaxNum').val(),
				PaymentMethod: paymentMethod,
				PostalFee: paymentMethod == 1 ? 990 : 1380,
				Comment: $('#comment').val()

			};

			$.ajax({
				url: 'api/orders/',
				type: 'POST',
				data: newOrder,
				success: function (result) {
					$('#final_step').css('display', '');
					$('#prevBtn').css('display', 'none');
					$('#nextBtn').css('display', 'none');
				},
				error: function (request, status, error) {
					$('#final_step').css('display', 'none');
					$('#errorMsg').html('Sikertelen rendelés!');
					$('#errorMsg').css('display', '');
					$('#prevBtn').css('display', 'none');
					$('#nextBtn').css('display', 'none');

				}
			});
		}


	</script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136826805-1"></script>
	<script>window.dataLayer = window.dataLayer || [];
		 function gtag(){dataLayer.push(arguments);}
		 gtag('js', new Date());

		gtag('config', 'UA-136826805-1');
	</script>
</body>
</html>
