*


.header-container {
	margin: 0;
	height: 100%;
}

body {
	width: 100%;
}

.img-container {
	background-image: url(../images/welcome.jpg);
	height: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.inner-container {
	text-align: center;
	position: absolute;
	width: 100%;
	color: white;
	height: auto;
	margin-top: 200px;
}


@media only screen and (max-width: 920px) {
	.inner-container {
		margin-top: 100px;

	}
}

@media only screen and (max-width: 540px) {
	.inner-container {
		margin-top: 150px;
	}
}

.btn {
	display: inline-block;
	border-radius: 25px;
	width: 200px;
	font-weight: bold;
	padding: 10px;
	color: #fff;
	background-color: #D74E4E;
	border: 0px;
	border-radius: 25px;
}

	.btn:hover {
		color: #D0D0D0;
	}